<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <%= require('html-loader!./layout/html-common.html') %>
  <title><%= htmlWebpackPlugin.options.title%></title>
</head>
<body>
  <%= require('html-loader!./layout/top.html') %>
  <div class="log-wrap">
    <form action="">
      <input type="number" class="input-type phone" name="phone" id="phone">
      <div class="ma-wrap">
        <input type="password" class="input-type password" name="password" id="password">
      </div>
      <div class="submit-wrap">
        <button class="btn btn-block" type="submit" id="login-submit">登录</button>
      </div>
    </form>
    <a href="#" class="forget-pass">忘记密码？</a>
    <div class="fast-login text-center">
      <p class="text">快捷登录</p>
      <a href="#" class="wechat">微信登录</a>
    </div>
  </div>
  <%= require('html-loader!./layout/footer.html') %>
</body>
</html>