<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <%= require('html-loader!./layout/html-common1.html') %>
  <title><%= htmlWebpackPlugin.options.title%></title>
</head>
<body>
  <!-- 搜索 -->
  <div class="search-wrapper search-type-two search-type-three">
    <div class="search-container">
      <a href="./index.html" class="back back-two"></a>
      <input type="text" class="search input-search input-search-list" placeholder="搜索商家、服务" >
      <a href="javascript:void(0);" class="cancle cancle-list" id="cancle">取消</a>
    </div>
  </div>
  <%= require('html-loader!./layout/sort.html') %>
  <div class="center-content center-content-list">
    <!-- 推荐阿姨 -->
    <div class="recommend-aunts recommend-aunts-lists">
      <div class="aunts-list">
        <a href="#" class="item clearfix">
          <img src="<%= require('../image/avatar.png') %>" alt="" class="pull-left img">
          <div class="content pull-left">
            <div class="info">
              <span class="name">李阿姨</span>
              <span class="star star1"></span>
              <span class="status">空挡</span>
              <span class="money">4000/月</span>
            </div>
            <div class="detail clearfix">
              <span>47岁</span>
              <span>舟山人</span>
              <span>高中</span>
              <span>1年经验</span>
            </div>
            <div class="boxes clearfix">
              <span class="small-box">1年经验</span>
              <span class="small-box">舟山人</span>
              <span class="small-box">高中</span>
            </div>
          </div>
        </a>
        <a href="#" class="item clearfix">
          <img src="<%= require('../image/avatar.png') %>" alt="" class="pull-left img">
          <div class="content pull-left">
            <div class="info">
              <span class="name">李阿姨</span>
              <span class="star star2"></span>
              <span class="status active">上岗中</span>
              <span class="money">4000/月</span>
            </div>
            <div class="detail clearfix">
              <span>47岁</span>
              <span>舟山人</span>
              <span>高中</span>
              <span>1年经验</span>
            </div>
            <div class="boxes clearfix">
              <span class="small-box">1年经验</span>
              <span class="small-box">舟山人</span>
              <span class="small-box">高中</span>
            </div>
          </div>
        </a>
        <a href="#" class="item clearfix">
          <img src="<%= require('../image/avatar.png') %>" alt="" class="pull-left img">
          <div class="content pull-left">
            <div class="info">
              <span class="name">李阿姨</span>
              <span class="star star3"></span>
              <span class="status active">上岗中</span>
              <span class="money">4000/月</span>
            </div>
            <div class="detail clearfix">
              <span>47岁</span>
              <span>舟山人</span>
              <span>高中</span>
              <span>1年经验</span>
            </div>
            <div class="boxes clearfix">
              <span class="small-box">1年经验</span>
              <span class="small-box">舟山人</span>
              <span class="small-box">高中</span>
            </div>
          </div>
        </a>
        <a href="#" class="item clearfix">
          <img src="<%= require('../image/avatar.png') %>" alt="" class="pull-left img">
          <div class="content pull-left">
            <div class="info">
              <span class="name">李阿姨</span>
              <span class="star star4"></span>
              <span class="status active">上岗中</span>
              <span class="money">4000/月</span>
            </div>
            <div class="detail clearfix">
              <span>47岁</span>
              <span>舟山人</span>
              <span>高中</span>
              <span>1年经验</span>
            </div>
            <div class="boxes clearfix">
              <span class="small-box">1年经验</span>
              <span class="small-box">舟山人</span>
              <span class="small-box">高中</span>
            </div>
          </div>
        </a>
        <a href="#" class="item clearfix">
          <img src="<%= require('../image/avatar.png') %>" alt="" class="pull-left img">
          <div class="content pull-left">
            <div class="info">
              <span class="name">李阿姨</span>
              <span class="star star5"></span>
              <span class="status active">上岗中</span>
              <span class="money">4000/月</span>
            </div>
            <div class="detail clearfix">
              <span>47岁</span>
              <span>舟山人</span>
              <span>高中</span>
              <span>1年经验</span>
            </div>
            <div class="boxes clearfix">
              <span class="small-box">1年经验</span>
              <span class="small-box">舟山人</span>
              <span class="small-box">高中</span>
            </div>
          </div>
        </a>
      </div>
      <div class="underline">
        <span class="line"></span>
        <span class="text text-center">我也是有底线</span>
      </div>
    </div>
  </div>
  <%= require('html-loader!./layout/userFooter.html') %>
  <%= require('html-loader!./layout/footer1.html') %>

</body>
</html>