<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <%= require('html-loader!./layout/html-common.html') %>
  <title><%= htmlWebpackPlugin.options.title%></title>
</head>
<body>
  <div class="swiper-container">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
          <a href="#">
            <img width="100%" src="<%= require('../image/banner.png') %>" alt="banner">
          </a>
        </div>
        <div class="swiper-slide">
          <a href="#">
            <img width="100%" src="<%= require('../image/banner.png') %>" alt="banner">
          </a>
        </div>
        <div class="swiper-slide">
          <a href="#">
            <img width="100%" src="<%= require('../image/banner.png') %>" alt="banner">
          </a>
        </div>
    </div>
  </div>
  <%= require('html-loader!./layout/userFooter.html') %>
  <%= require('html-loader!./layout/footer.html') %>
  <script>
    var mySwiper = new Swiper('.swiper-container')
  </script>
</body>
</html>