<div class="choose-container">
  <div class="top top-wrap my-top bg-grey">
    <a class="back" href="javascript:void(0);" onclick=""></a>
    <h2 class="text-center">选择地区</h2>
  </div>
  <div class="choose-wrap">
    <p class="address-wrap"><span class="name" data-val="1">定海1</span><i class="fa fa-check icon-check"></i></p>
    <p class="address-wrap"><span class="name" data-val="2">定海2</span><i class="fa fa-check icon-check"></i></p>
    <p class="address-wrap"><span class="name" data-val="3">定海3</span><i class="fa fa-check icon-check"></i></p>
    <p class="address-wrap"><span class="name" data-val="4">定海4</span><i class="fa fa-check icon-check"></i></p>
    <p class="address-wrap"><span class="name" data-val="5">定海5</span><i class="fa fa-check icon-check"></i></p>
    <p class="address-wrap"><span class="name" data-val="6">定海6</span><i class="fa fa-check icon-check"></i></p>
    <p class="address-wrap"><span class="name" data-val="7">定海7</span><i class="fa fa-check icon-check"></i></p>
    <p class="address-wrap"><span class="name" data-val="8">定海8</span><i class="fa fa-check icon-check"></i></p>
    <p class="address-wrap"><span class="name" data-val="9">定海9</span><i class="fa fa-check icon-check"></i></p>
    <p class="address-wrap"><span class="name" data-val="10">定海10</span><i class="fa fa-check icon-check"></i></p>
  </div>
</div>