<div class="search-wrapper search-type-two">
  <div class="search-container">
    <input type="text" class="search input-search" placeholder="搜索商家、服务" >
    <a href="javascript:void(0);" class="cancle" id="cancle">取消</a>
    <a href="javascript:void(0);" class="btn-search"></a>
  </div>
  <div class="content">
    <div class="info">
      <p class="title">历史搜索</p>
      <div class="boxes clearfix">
        <a href="#" class="col-xs-4 item">
          <span class="text-center box text-overflow">保姆</span>
        </a>
        <a href="#" class="col-xs-4 item">
          <span class="text-center box text-overflow">月嫂</span>
        </a>
        <a href="#" class="col-xs-4 item">
          <span class="text-center box text-overflow">烧饭阿姨</span>
        </a>
      </div>
    </div>
    <div class="info">
      <p class="title">热门搜索</p>
      <div class="boxes clearfix">
        <a href="#" class="col-xs-4 item">
          <span class="text-center box text-overflow">保姆</span>
        </a>
        <a href="#" class="col-xs-4 item">
          <span class="text-center box text-overflow">月嫂</span>
        </a>
        <a href="#" class="col-xs-4 item">
          <span class="text-center box text-overflow">烧饭阿姨</span>
        </a>
        <a href="#" class="col-xs-4 item">
          <span class="text-center box text-overflow">保姆</span>
        </a>
        <a href="#" class="col-xs-4 item">
          <span class="text-center box text-overflow">月嫂</span>
        </a>
        <a href="#" class="col-xs-4 item">
          <span class="text-center box text-overflow">烧饭阿姨</span>
        </a>
      </div>
    </div>
  </div>
</div>