<div class="sort-wrap">
  <div class="sort-list clearfix">
    <div class="item col-xs-3 text-center">
      <span>排序</span>
    </div>
    <div class="item col-xs-3 text-center">
      <span>类型</span>
    </div>
    <div class="item col-xs-3 text-center">
      <span>价格</span>
    </div>
    <div class="item col-xs-3 text-center">
      <span>筛选</span>
    </div>
  </div>
  <div class="type-list clearfix">
    <span class="type-small-box small-box pull-left">8001-10000元<i class="icon"></i></span>
    <span class="type-small-box small-box pull-left">8001-10000元<i class="icon"></i></span>
    <span class="type-small-box small-box pull-left">8001-10000元<i class="icon"></i></span>
    <span class="type-small-box small-box pull-left">8001-10000元<i class="icon"></i></span>
  </div>
  <div class="shadow-wrap">
    <div class="type-wrap sort-type">
      <a href="javasript:void(0);" class="item">
        不限
      </a>
      <a href="javasript:void(0);" class="item">
        3000以下
      </a>
      <a href="javasript:void(0);" class="item">
        3001-5000
      </a>
    </div>
    <div class="type-wrap types-type">
      <a href="javasript:void(0);" class="item">
        不限
      </a>
      <a href="javasript:void(0);" class="item">
        月嫂
      </a>
      <a href="javasript:void(0);" class="item">
        保姆
      </a>
    </div>
    <div class="type-wrap price-type">
      <a href="javasript:void(0);" class="item">
        智能排序
      </a>
      <a href="javasript:void(0);" class="item">
        最新发布
      </a>
      <a href="javasript:void(0);" class="item">
        价格最低
      </a>
    </div>
    <div class="type-wrap choose-type">
      <div class="info">
        <p class="title">热门搜索</p>
        <div class="boxes clearfix">
          <a href="#" class="col-xs-4 item-sort">
            <span class="text-center box text-overflow">保姆</span>
          </a>
          <a href="#" class="col-xs-4 item-sort">
            <span class="text-center box text-overflow">月嫂</span>
          </a>
          <a href="#" class="col-xs-4 item-sort">
            <span class="text-center box text-overflow">烧饭阿姨</span>
          </a>
          <a href="#" class="col-xs-4 item-sort">
            <span class="text-center box text-overflow">保姆</span>
          </a>
          <a href="#" class="col-xs-4 item-sort">
            <span class="text-center box text-overflow">月嫂</span>
          </a>
          <a href="#" class="col-xs-4 item-sort">
            <span class="text-center box text-overflow">烧饭阿姨</span>
          </a>
        </div>
      </div>
      <div class="info">
        <p class="title">热门搜索1</p>
        <div class="boxes clearfix">
          <a href="#" class="col-xs-4 item-sort">
            <span class="text-center box text-overflow">保姆</span>
          </a>
          <a href="#" class="col-xs-4 item-sort">
            <span class="text-center box text-overflow">月嫂</span>
          </a>
          <a href="#" class="col-xs-4 item-sort">
            <span class="text-center box text-overflow">烧饭阿姨</span>
          </a>
          <a href="#" class="col-xs-4 item-sort">
            <span class="text-center box text-overflow">保姆</span>
          </a>
          <a href="#" class="col-xs-4 item-sort">
            <span class="text-center box text-overflow">月嫂</span>
          </a>
          <a href="#" class="col-xs-4 item-sort">
            <span class="text-center box text-overflow">烧饭阿姨</span>
          </a>
        </div>
      </div>
      <div class="sort-submit-wrap text-center">
        <div class="btn btn-default btn-list-cancle grey-btn">取消</div>
        <div class="btn btn-default btn-list-ok green-btn">确定</div>
      </div>
    </div>
  </div>
</div>