<div class="sort-wrap">
  <div class="sort-list clearfix">
    <div class="item col-xs-3 text-center">
      <span>排序</span>
    </div>
    <div class="item col-xs-3 text-center">
      <span>类型</span>
    </div>
    <div class="item col-xs-3 text-center">
      <span>价格</span>
    </div>
    <div class="item col-xs-3 text-center">
      <span>筛选</span>
    </div>
  </div>
  <div class="type-list clearfix">
    <span class="type-small-box small-box pull-left">8001-10000元<i class="icon"></i></span>
    <span class="type-small-box small-box pull-left">40-49<i class="icon"></i></span>
    <span class="type-small-box small-box pull-left">10年以上<i class="icon"></i></span>
    <span class="type-small-box small-box pull-left">不限<i class="icon"></i></span>
    <span class="type-small-box small-box pull-left">不限<i class="icon"></i></span>
  </div>
</div>