/*
* @Author: kai
* @Date:   2017-11-14 20:05:55
* @Last Modified by:   kai
* @Last Modified time: 2017-11-18 21:17:46
*/
$green: #3dbd95;
$grey: #f0f0f0;

// 初始化样式
li, ul {
 list-style: none;
}
body {
  background-color: $grey;
  color: #333;
  font-family: "Microsoft YaHei";
}
h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
}
input {
  outline: none;
}
a:hover, a:focus, a:active {
  text-decoration: none;
}

.text-green {
  color: $green;
}
.text-overflow {
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
}

.center-content {
  position: absolute;
  top: 70px;
  bottom: 70px;
  left: 0;
  right: 0;
  overflow-y: auto;
}


//头部搜索框
.search-wrapper {
  background-color: #fff;
  height: 70px;
  &.search-type-one {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
  }
  padding: 15px 20px;
  
  position: relative;
  .search-text {
    width: 100%;
    border: none;
    height: 40px;
    border-radius:40px;
    padding: 0 10px 0 40px;
    line-height: 40px;
    margin-bottom: 0;
    background: #eee url('../../image/icon6.png') 10px -1077px no-repeat;
  }
  /* .btn-search {
    position: absolute;
    top: 17px;
    left: 20px;
    height: 35px;
    width: 45px;
    background: transparent url('../../image/icon6.png') center -1077px no-repeat;
  } */
}

// 登录注册头部
.top-wrap{
  height: 55px;
  background-color: #fff;
  position: relative;
  margin-bottom: 10px;
  .back {
    display: block;
    height: 24px;
    width: 24px;
    position: absolute;
    top: 15px;
    left: 10px;
    background: url('../../image/icon6.png') 0 -302px;
  }
  h2 {
    line-height: 55px;
    font-weight: 700;
    font-size: 1.5em;
  }
  &.top-green {
    background-color: $green;
    color: #fff;
    .back {
      background-position: 0 -342px;
    }
    .logout {
      position: absolute;
      right: 20px;
      top: 18px;
      color: #f6f6f6;
    }
  }
}

// 登录注册主内容部分
.log-wrap {
  input {
    width: 100%;
    display: block;
    border: 0px;
    padding: 22px 20px 22px 40px;
    font-size: 1em;
  }
  .input-type {
    background:#fff url('../../image/icon3.png') no-repeat;
  }
  .phone {
    background-position: 12px -33px; 
  }
  .phone.success-green {
    background-position: 12px 22px;
  }
  .password {
    background-position: 12px -147px;
  }
  .password.success-green {
    background-position: 12px -91px;
  }
  .ma {
    padding-right: 150px;
    background-position: 12px -255px;
  }
  .ma.success-green {
    background-position: 12px -200px;
  }
  .ma-wrap {
    position: relative;
    border-top: 1px solid #d7d7d7;
    border-bottom: 1px solid #d7d7d7;
    .btn-get-ma {
      position: absolute;
      top: 12px;
      right: 15px;
      color: #fff;
      font-size: 1em;
      background-color: #ccc;
      padding: 10px 0;
      width: 102px;
      &.text-green {
        background-color: $green;
      }
    }
  }
  .submit-wrap {
    margin: 30px 10px 0 10px;
    .btn {
      padding: 15px 0;
      background-color: $green;
      color: #fff;
      font-size: 1.5em;
    }
    .register-submit {
      background-color: #ccc;
      &.success-green {
        background-color: $green;
      }
    }
  }
  input + input {
    border-top: 1px solid #d7d7d7;
  }
  .forget-pass {
    margin-top: 10px;
    color: $green;
    float: right;
    margin-right: 10px;
  }
  .fast-login {
    position: relative;
    margin: 80px auto 0;
    width: 60%;
    border-top: 1px solid #d7d7d7;
    .text {
      position: absolute;
      top: -14px;
      left: 53%;
      padding: 0 10px;
      margin-left: -51px;
      color: #999;
      font-size: 1.3em;
      background-color: $grey;
    }
    .wechat {
      display: block;
      padding-top: 100px;
      background: url('../../image/wechat.png') center no-repeat;
      color: #333;
    }
  }
  .agree {
    position: relative;
    margin: 10px 10px 0 10px;
    color: #999;
    input {
      position: absolute;
      top: 0;
      right: 0; 
      display: none;
    }
    span {
      padding-left: 20px;

      background: url('../../image/icon6.png') -4px -75px no-repeat;
    }
    .agree-scueess {
      background-position: -4px -113px;
    }
    .btn-text {
      color: $green;
    }
  }
}

// 个人中心
.user-wraper {
  position: absolute;
  top: 55px;
  bottom: 70px;
  left: 0;
  right: 0;
  overflow-y: auto;
  .user-top {
    position: relative;
    padding: 30px 10px;
    background-color: $green;
    color: #fff;
    .info {
      width: 80%;
      overflow: hidden;
      .avatar {
        height: 60px;
        width: 60px;
        border-radius: 50%;
        background-color: #fff;
      }
      .content {
        width: calc(100% - 100px);
        margin-left: 10px;
        p {
          padding: 5px 0;
          margin-bottom: 0;
        }
        .text {
          width: 100%; 
        }
        .name {
          font-size: 1em;
        }
        .phone {
          padding-left: 20px;
          background: transparent url('../../image/icon6.png') -4px -148px no-repeat;
        }
      }
    }
    .turn {
      position: absolute;
      top: 50%;
      right: 10px;
      height: 50px;
      width: 50px;
      margin-top: -25px;
      background: url('../../image/icon6.png') center -410px no-repeat;
    }
  }
  .links-list {
    padding: 20px 0;
    background-color: #fff;
    .item {
      height: 65px;
      padding-top: 45px;
      font-size: 1em;
      color: #333;
      background: #fff url('../../image/icon7.png') no-repeat;
      &.money {
        background-position: center -74px;
      }
      &.quan {
        background-position: center -152px;
      }
      &.commit {
        background-position: center 4px;
      }
    }
    .item + .item  {
      border-left: 1px solid #ddd;
    }
  }
  .user-content {
    margin: 10px 0;
    font-size: 1em;
    .groups {
      background-color: #fff;
      .item {
        position:relative;
        display: block;
        padding: 15px 0 15px 60px;
        color: #333;
        background:transparent url('../../image/icon2.png') no-repeat;
        & + .item {
          border-top: 1px solid #eee;
        }
        .icon {
          height: 40px;
          width: 50px;
          position: absolute;
          right: 0px;
          top: 10px;
          background: #fff url('../../image/icon6.png') center -1040px no-repeat;
        }
      }
      .item1 {
        background-position: 15px 10px;
      }
      .item2 {
        background-position: 15px -37px;
      }
      .item3 {
        background-position: 15px -82px;
      }
      .item4 {
        background-position: 15px -130px;
      }
      .item5 {
        background-position: 15px -174px;
      }
      .item6 {
        background-position: 15px -223px;
      }
      .item7 {
        background-position: 15px -267px;
      }
    }
    .groups + .groups {
      margin-top: 10px;
    }
  }
  
}

// 底部菜单
.user-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 70px;
  font-size: 1em;
  background-color: #f6f6f6;
  border-top: 1px solid #d7d7d7;
  .item {
    color: #333;
    height: 30px;
    padding-top: 40px;
    background: transparent url('../../image/icon4.png') no-repeat;
    &.home {
      background-position: center -140px;
    }
    &.home-active, &.home:focus {
      background-position: center -90px;
    }
    &.kinds {
      background-position: center -188px;
    }
    &.kinds-active, &.kinds:focus {
      background-position: center -237px;
    }
    &.order {
      background-position: center 9px;
    }
    &.order-active, &.order:focus {
      background-position: center -41px;
    }
    &.my {
      background-position: center -339px;
    }
    &.my-active, &.my:focus {
      background-position: center -289px;
    }
    
  }
}

// 轮播图
.swiper-slide {
  a {
    display: block;
  }
}
.swiper-pagination-bullet-active {
  background-color: $green;
}
.swiper-container-horizontal>.swiper-pagination-bullets {
  bottom: 0px;
}

// 首页月嫂类型
.menu-wrap {
  background-color: #fff;
  padding: 20px 0;
  .item {
    display: block;
    float: left;
    width: 20%;
    color: #333;
    font-size: 1em;
    .icon {
      display: block;
      width: 100%;
      height: 60px;
      background: transparent url('../../image/1.png') no-repeat;
    }
    .text {
      display: block;
      padding: 5px 0;
    }
    &:focus {
      color: $green;
    }
    &.item1 .icon {
      background-position: center -245px;
    }
    &.item2 .icon {
      background-position: center -177px;
    }
    &.item3 .icon {
      background-position: center -309px;
    }
    &.item4 .icon {
      background-position: center -371px;
    }
    &.item5 .icon {
      background-position: center -46px;
    }
    &.item6 .icon {
      background-position: center -497px;
    }
    &.item7 .icon {
      background-position: center -562px;
    }
    &.item8 .icon {
      background-position: center -110px;
    }
    &.item9 .icon {
      background-position: center 20px;
    }
    &.item10 .icon {
      background-position: center -432px;
    }
  }
}

// 首页功能模块
.function {
  background-color: #fff;
  margin-top: 10px;
  padding: 10px 0;
  .text-content {
    padding: 0 15px 10px 15px;
    .text {
      float: left;
      font-size: 1em;
      font-weight: 700;
    }
    .small-text {
      float: right;
      font-size: 0.75em;
      color: #999;
      margin-top: 3px;
    }
  }
  .function-list {
    .item {
      width: 20%;
      float: left;
      padding: 0px 0 10px;
      font-size: 1em;
      color: #333;
      .icon {
        display: block;
        height: 60px;
        width: 100%;
        background: transparent url('../../image/3.png') no-repeat;
      }
      &:focus .name {
        color: $green;
      }
    }
    .item1 .icon {
      background-position: center 15px;
    }
    .item2 .icon {
      background-position: center -189px;
    }
    .item3 .icon {
      background-position: center -122px;
    }
    .item4 .icon {
      background-position: center -54px;
    }
    .item5 .icon {
      background-position: center -256px;
    }
    
  }
}

.ad {
  margin-top: 10px;
}

// 推荐阿姨
.recommend-aunts {
  margin-top: 10px;
  background-color: #fff;
  .title {
    padding: 5px 0 0 0;
    margin-bottom: 0;
    color: #999;
    .text {
      padding:10px 0px 10px 35px;
      display: inline-block;
      background: transparent url('../../image/icon6.png')  0px -1123px no-repeat;
    }
  }
  .aunts-list {
    background-color: $grey;
    .item {
      display: block;
      width: 100%;
      background-color: #fff;
      padding: 10px 15px;
      border-bottom: 1px solid #ddd;
      border-top: 1px solid #ddd;
      &:focus {
        border-color: $green;
      }
      .img {
        width: 75px;
        height: 100px;
      }
      .info {
        position: relative;
        .star {
          display: inline-block;
          width: 89px;
          height: 16px;
          background: #fff url('../../image/icon-star.png') 0px 4px no-repeat;
          &.star1 {
            background-position: 0 4px;
          }
          &.star2 {
            background-position: 0 -16px;
          }
          &.star3 {
            background-position: 0 -36px;
          }
          &.star4 {
            background-position: 0 -54px;
          }
          &.star5 {
            background-position: 0 -74px;
          }
        }
        .status {
          font-size: 1em;
          color: #999;
          &.active {
            color: $green;
          }
        }
        .money {
          position: absolute;
          top: 0px;
          right: 0px;
          color: #ff7452;
          font-weight: 700;
          font-size: 1.2em;
          float: right;
        }
      }
      .detail {
        margin: 10px 0;
        font-size: 1em;
        color: #666;
        span:first-child {
          margin-left: 0;
          padding-left: 0;
        }
        span {
          float: left;
          margin: 7px 0;
          padding: 0 7px;
          & + span {
            border-left: 1px solid #ccc;
          }
        }
      }
      .boxes {
        .small-box {
          padding: 0 5px;
          border-radius: 5px;
          background-color: $grey;
          color: #999;
        }
      }
    }
    .item + .item {
      margin-top: 10px;
    }
    .content {
      margin-left: 10px;
      width: calc(100% - 90px);
      .name {
        font-size: 1.2em;
        font-weight: 700;
        color: #333;
      }
    }
  }
  .underline {
    background-color: $grey;
    padding: 15px 0;
    color: #999;
    position: relative;
    .line {
      display: inline-block;
      margin: 0px auto;
      height: 1px;
      width: 70%;
      border: 1px solid #ccc;
      position: absolute;
      top: 18px;
      left: 15%;
    }
    .text {
      position: absolute;
      top: 50%;
      left: 50%;
      margin-left: -60px;
      margin-top: -6px;
      width: 120px;
      background-color: $grey;
    }
  }
}
@media (max-width: 320px) {
  .function {
    .function-list {
      .item {
        font-size: 0.75em;
      }
    }
  }
}