/*
* @Author: kai
* @Date:   2017-11-14 20:05:55
* @Last Modified by:   kai
* @Last Modified time: 2017-11-16 11:20:52
*/
$green: #3dbd95;
$grey: #f0f0f0;

// 初始化样式
li, ul {
 list-style: none;
}
body {
  background-color: $grey;
  color: #333;
}
h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
}



// 登录注册头部
.top-wrap{
  height: 45px;
  background-color: #fff;
  position: relative;
  .back {
    display: block;
    height: 20px;
    width: 20px;
    position: absolute;
    top: 12px;
    left: 20px;
    background: url('../../image/focus1.png') center;
  }
  h2 {
    line-height: 45px;
    font-weight: 500;
    font-size: 1.2em;
  }

}